{% extends 'base.html.twig' %}

{% block title %}Mis Tareas{% endblock %}

{% block body %}
{{ block("body", "base.html.twig") }} 

<div class="example-wrapper">
    <h2>Mis tareas</h2>
    {{include('includes/task-list.html.twig') }}


</div>
{% endblock %}
